.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0px 10%;
  &__block {
    max-width: 10%;
    width: 100%;
    margin: 2px;
    border: 1px solid black;
    &__img{
      width: 100%;
      height: auto;
    }
    &__auther{
      font-size: 22px;
      color: black;
    }
  }
}